.filter-container {
  & .form-control,
  & .form-select {
    font-size: 14px !important;
  }
}
.sort-buttons .btn {
  flex: 1;
}

.loading-container{
  height: 200px;
  max-width: 100%;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
