.modal-content{
    border-radius: 4px;
    border-top: 6px solid var(--color-theme-primary);
}

input.form-control{
    border-color: white;
    border-bottom: 3px solid var(--color-theme-primary);
    border-radius: 0px;
    padding: 8px 12px;
    font-size: 1rem;
    background-color: #F5F5F5;
  

}
