.input-form-control{
    border-color: white;
    border-bottom: 3px solid var(--color-theme-primary);
    border-radius: 0px;
    padding: 8px 12px;
    font-size: 1rem;
    background-color: #f5f5f5;
}
.input-form-control input{
    background-color: #f5f5f5;
    outline: none;
    border: none;
    

}

.password-eye-icon{
   cursor: pointer;



}

.password-form-control input{
    /* border-right: none; */
}