.tab {
  margin: auto;
  width: fit-content;
  border: 2px;
  border: 1px solid #ccc;
  & .tab-item {
    padding: 6px 12px;
    font-weight: 700;
    cursor: pointer;
    color: var(--color-theme-primary);
    background-color: #eee;

    &:first-of-type {
      border-right: 1px solid #ccc;
    }

    &.active {
      background-color: var(--color-theme-primary);
      color: #fff;
    }
  }
}

@media (max-width: 768px) {
  .donation-tabs {
    padding: 1rem !important;
  }
  .tab {
    padding: 0;
    & .tab-item {
      padding: 6px 8px;
    }
  }
  .donate-once form ~ div,
  .donate-monthly form ~ div {
    justify-content: start !important;
  }
}
