/* Navbar Section */
body {
  margin-top: 20px;
}
.nav-wrapper {
  width: 100%;
  padding: 1rem 3rem;
  box-shadow: var(--shadow-dark);
  /* overflow: hidden; */
  position: fixed;
  z-index: 999;
  top: 0;
  background-color: var(--color-white);
}

/* .nav-wrapper  *{
    transform: scale(.97);
} */

.nav-wrapper nav {
  display: flex;
  justify-content: space-between;
}

nav .nav-left .logo-container {
  width: auto;
  height: 30px;
  margin: auto;
}

nav .nav-left .logo-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

nav .nav-left,
nav .nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

nav .nav-item {
  gap: 1rem;
  font-weight: 500;
  white-space: nowrap;
}
nav .nav-item {
  gap: 1rem;
  font-weight: 500;
}

nav .nav-left .nav-item a {
  color: var(--text-color-grey-dark);
}
nav .nav-left .nav-item.active a {
  color: var(--color-theme-primary);
}

/* Footer Section */
.footer-wrapper {
  padding: 3rem;
  background-color: var(--color-theme-accent);
}

footer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

footer > div {
  flex: 1;
}

.subscribe-box div {
  box-shadow: var(--shadow-light);
  justify-content: space-between;
}

.subscribe-box input,
.subscribe-box button {
  height: 40px;
  border: 1px solid var(--color-dark);
}

.subscribe-box input {
  padding: 1rem;
  flex: 1;
}

.subscribe-box button {
  border-radius: 0;
  padding: 0px 20px;
}

footer > div:nth-of-type(2n) {
  justify-content: space-around;
}

.icon-container {
  display: flex;
  justify-content: space-between;
}

.icon-wrapper {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-theme-primary);
  color: var(--color-white);
  border-radius: 50%;
  transition: 0.3s all;
}

.icon-wrapper:not(.static):hover {
  transform: scale(1.2);
}

.about-and-social {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-and-social img {
  height: 60px;
  width: auto;
  max-width: 100%;
}

.links-wrapper {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.avatar-sm {
  display: none;
}
@media screen and (max-width: 1100px) {
  .avatar-sm {
    display: block;
  }
  .nav-wrapper,
  .footer-wrapper {
    padding: 0.4rem 1rem;
  }

  /* section {
    overflow: hidden;
  } */

  nav .nav-left .logo-container {
    /* height: 40px; */
    width: 180px;
  }

  nav .nav-right .nav-item a {
    font-size: 0.8rem;
  }

  footer {
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .subscribe-box input,
  .subscribe-box button {
    height: 30px;
  }

  .icon-wrapper {
    width: 20px;
    height: 20px;
  }

  .about-and-social img {
    height: 40px;
  }

  footer > div {
    flex-basis: 100%;
    justify-content: flex-start;
  }

  footer > div:nth-of-type(2n) {
    justify-content: flex-start;
  }
}

main {
  min-height: 400px;
  margin-top: 73px;
}
.toggle-nav button {
  padding: 6px 14px;
  border-radius: 4px;
  border: 1px solid var(--color-theme-primary);
  color: #fff;
  background-color: var(--color-theme-primary);
  display: none;
}
.toggle-nav button i {
  font-size: 24px;
}

.toggle-navbar {
  min-width: 240px;
  position: fixed;
  width: auto;
  max-width: 60%;
  background-color: rgba(255, 255, 255, 0.95);
  /* background-color: red; */
  color: white;
  padding: 1rem;
  right: 0;
  height: 100%;
  top: 74px;
  box-shadow: var(--shadow-dark);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  display: none;
}

@media screen and (max-width: 1100px) {
  .nav-wrapper,
  .footer-wrapper {
    padding: 0.4rem 1rem;
  }

  nav .nav-left .logo-container {
    height: 40px;
  }

  nav .nav-right .nav-item a {
    font-size: 0.8rem;
  }

  footer {
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .subscribe-box input,
  .subscribe-box button {
    height: 30px;
  }

  .icon-wrapper {
    width: 20px;
    height: 20px;
  }

  .about-and-social img {
    height: 40px;
  }

  footer > div {
    width: 100%;
    justify-content: flex-start;
  }

  footer > div:nth-of-type(2n) {
    justify-content: flex-start;
  }

  /* mobile nav */

  nav .nav-left,
  nav .nav-right {
    gap: 1rem;
  }

  .nav-left .nav-item,
  .nav-right .nav-item {
    display: none;
  }
  nav .nav-left .logo-container {
    height: 50px;
    margin: 0.4rem 1rem;
  }

  .toggle-navbar {
    display: flex;
    right: -500px;
    transition: 0.3s all ease;
  }

  .toggle-navbar.active {
    right: 0;
  }
  .toggle-nav button {
    display: block;
  }
  .icon-wrapper {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
  }
}
