.searchbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d3d3d3;
  border-radius: 30px;
  /* overflow: hidden; */
  background-color: #fff;
}

.location-select,
.search-input {
  padding: 5px;
  flex: 1;
}

.location-select {
  border-right: 1px solid #d3d3d3;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.location-select {
  position: relative;
  /* overflow: hidden; */
}
.search-input {
  min-width: 200px;
  border-right: 0px;
  border-radius: 30px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  position: relative;
  /* overflow: hidden; */
  min-height: 40px;
}
.location-select {
  min-width: 120px;
  max-width: 200px;
  border-left: 0px;
  border-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  position: relative;
  /* overflow: hidden; */
  min-height: 40px;
}

.location-select i,
.search-input i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-theme-primary);
  padding: 0 4px;
  z-index: 2;
}

.location-select datalist,
.location-select input,
.search-input input {
  border: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-left: 33px;
  border-radius: 30px;
}

.searchbar-container button {
  border-radius: 49px;
  margin: 1px;
  margin-right: 2px;
  height: 40px;
  display: inline-block;
  width: 40px;
}

.suggestions-list {
  position: absolute;
  background-color: #fff;
  top: 46px;
  left: 0px;
  min-width: 240px;
  max-width: 300px;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  max-height: 204px;
  overflow-y: hidden;
  & li {
    font-size: 13.5px !important;
    padding: 4px 10px;
    border-bottom: 1px solid #d3d3d3;
    cursor: pointer;

    & p {
      font-size: 13.5px;
    }

    &:hover {
      background-color: #eee;
      color: var(--color-theme-primary);
      & p {
        background-color: #eee;
        color: var(--color-theme-primary);
      }
    }
  }
}

.location-select input:focus {
  & .suggestions-list {
    display: block;
  }
}
.search-input input:focus {
  & .suggestions-list {
    background-color: red;
  }
}

@media (max-width: 768px) {
  .location-select,
  .search-input {
    min-width: 100px;
  }
}
