@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-theme-primary: #ff395c;
  --color-theme-primary-light: rgb(255, 155, 174);
  --color-theme-accent: #e1e6e1;
  --color-grey-dark: #424242;
  --color-grey-light: #929292;
  --color-grey-light-2: rgb(187, 179, 179);
  --color-white: #ffffff;
  --color-black: #000000;

  --color-theme-success: #4caf50;
  --color-theme-error: #af4c4c;

  /* for toasters start */
  --toastify-color-info: #3498db;
  --toastify-color-success: #4caf50;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #af4c4c;

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  /* for toasters end */
  /* 
    --color-primary-dark: #10316B;
    --color-primary-light: #DBE8FF;
    --color-secondary: #FDBE34;
    --color-secondary-light: #FFEB73; */

  --font-heading: "Fira Sans", sans-serif;
  --font-body: "Poppins", sans-serif;

  --text-color-grey-dark: #424242;

  --shadow-light: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --shadow-dark: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
